.appbar {
  color: green;
  width: 100%;
}

.html {
  height: 100%;
}

.root {
  width: 100%;
}

.app {
  height: 100vh;
}

body {
  margin: 0px;
}

p {
  margin: 0px;
}

.menu-ul {
  margin: 18px;
  border-left: 2px solid black;
}

.menu-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 50px;
  /* color: ; */
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container::before {
  content: " ";
  display: block;
  position: absolute;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./images/143298853_4240189429339310_5668117409480340843_n.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.image-container {
  position: relative;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  justify-content: flex-end;
}

.admin {
  padding-top: 40px;
}

.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-bottom: 40px;
}

.inner-menu-card {
  width: 80vw;
}

.menu-header {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 2em;
  color: black;
}

.menu-span {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 2em;
  gap: 10px;
  color: black;
}

.menu-description {
  font-size: 1.2em;
}

.menu-li {
  border-bottom: 1px solid lightgrey;
  margin-left: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* padding-bottom: 100px; */
}

.admin-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #282828;
  padding: 8px 10px;
  transition: 0.4s;
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 4px 24px 2px rgba(0, 0, 0, 1.2);
}

#navbar a {
  float: left;
  color: #282828;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* #navbar a:hover {
  background-color: #ddd;
  color: black;
} */

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
  padding-top: 10px;
}

.filtered-list {
  position: absolute;
  background-color: lightgray;
  list-style: none;
  width: 300px;
}

.edit-search {
  position: relative;
  right: 160px;
  bottom: 30px;
  z-index: 2;
}

.bottom-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  color: white;
  padding-left: 0px !important;
  margin-bottom: 0em !important;
}

.bottom-link {
  color: white;
  text-decoration: none;
}

.top-link {
  color: white;
  text-decoration: none;
}

.bottom-navbar {
  bottom: 0;
  position: sticky;
  max-height: 38px !important;
  min-height: 38px !important;
  width: 100%;
  z-index: 99;
  box-shadow: 0 24px 24px 24px rgba(0, 0, 0, 1.2);
}

.bottom-app {
  min-height: 40px;
}

#navbar-right {
  display: flex;
  flex-direction: row;
}

.bottom-list-item {
  width: 100px;
  display: flex;
  justify-content: center;
}

.desktop-nav-item {
  width: 100px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  color: white;
  padding-left: 0px !important;
}

.advertisement-bar {
  height: 80px;
  background-color: #282828;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  gap: 5px;
  /* margin-top: 80px; */
  text-decoration: underline;
}

.address-bar {
  height: 80px;
  background-color: #282828;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 5px;
}

.home-about-bar {
  height: 400px;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-about-bar::before {
  content: " ";
  display: block;
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  text-align: center;
  opacity: 0.6;
  font-size: 80px;
  background-image: url("./images/10483991_809785879046366_5174751131691766854_n-copy.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.about-bar {
  position: relative;
  /* width: 88%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  height: 400px;
}

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

.nav-list {
  display: none;
}

.nav-logo {
  width: 140px;
  height: 80px;
  margin-left: 10px;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

.login-error-msg {
  color: red;
}

.bottom-info-home {
  height: fit-content;
  background-color: #282828;
  color: white;
  text-align: center;
  font-weight: bolder;
  gap: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.bottom-info-home h2 {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 16px;
}

.admin-snackbar {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 600px) {
  #toolbar {
    min-height: 40px !important;
  }
}

@media screen and (min-width: 900px) {
  #navbar {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar-right {
    display: none;
  }

  .bottom-navbar {
    display: none;
  }

  .nav-logo {
    height: 140px;
    width: 260px;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 80px;
  }

  .desktop-nav-item {
    color: white;
  }

  #navbar a {
    color: white;
    font-size: 26px;
  }

  .about-bar {
    height: 800px;
  }
  .about-bar::before {
    height: 800px;
  }
  .bottom-info-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }
  .bottom-info-home h2 {
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 20px;
  }
  .bottom-hours {
    margin-top: 50px;
  }

  .bottom-contact-us {
    margin-bottom: 18px;
  }
  .menu-cards {
    column-count: 2;
    column-gap: 30px;
    gap: 4%;
    padding: 10px;
  }

  .inner-menu-card {
    width: 45vw;
    max-width: 600px;
  }
}
@media screen and (min-width: 1000px) {
  .bottom-info-home {
    gap: 200px;
  }
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}

@media screen and (max-width: 320px) {
  .desktop-nav {
    display: flex;
    flex-direction: column;
  }
  #navbar-right {
    display: flex;
    justify-content: center;
  }
  .bottom-link {
    text-align: center;
  }
}
